body {
    font-family: 'Open Sans', sans-serif;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.choice {
    margin: 1.0em;
    padding: 1.0em;
}

.thumb {
    height: 100px;
    text-align: center;
}

.info {
    background-color: beige;
    margin: 0.5em;
    padding-left: 1.0em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border: 2px solid black;
    border-radius: 5px;
}

.info:empty {
    display: none;
}

.review {
    background-color: beige;
    margin: 0.5em;
    padding-left: 1.0em;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
    border: 2px solid black;
    border-radius: 5px;
}

.upperright {
    position: absolute;
    top: 0.75em;
    right: 0.75em;
    font-size: large;
    text-align: right;
}

.key {
    box-shadow: 2px 2px 5px #888888;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    padding: 2px;
    box-sizing: initial;
    margin-left: 5px;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-weight: normal;
}

button {
    background-color: #eeeeee;
    border: 2px solid black;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #aaaaaa;
}

/* Hack to allow JS hovering too */
button.hover {
    background-color: #aaaaaa;
}

.retainer {
    font-size: larger;
    background-color: black;
    color: aqua;
    padding: 2px;
    border-radius: 5px;
}

.bonus {
    font-size: larger;
    background-color: black;
    color: lawngreen;
    padding: 2px;
    border-radius: 5px;
}

.bonus-ping {
    position: fixed;
    right: 20px;
    top: 20px;
    color: yellow;
    font-size: 5em;
}

.timeout-ping {
    position: fixed;
    right: 100px;
    top: 100px;
    color: firebrick;
    font-size: 3em;
}

.ready {
    padding: 10px 50px;
    margin: 10px;
    font-size: 1.2em;
}

.disabled {
    background-color: #eeeeee;
    color: #333333;
}

.disabled:hover {
    background-color: #eeeeee;
}

#content {
    /*margin-left: 2.5em;*/
    margin-top: 1em;
    margin-bottom: 1em;
}
#content:empty {
    margin: 0;
    padding: 0;
}

.content {
    display: inline-block;
    background-color: black;
    padding: 4px;
    margin: 20px;
    color: white;
    border-radius: 5px;
}

.focus {
    color: yellow;
    font-weight: bold;
    font-size: 120%;
    margin: 0.5em;
}

.waiting {
    text-align: center;
    margin: 50px;
    font-size: 1.3em;
}

.waiting b {
    font-weight: 900;
    font-size: 1.4em;
    color: darkblue;
}

.comments {
    background-color: beige;
    font-size: 1.3em;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
}

.comments button {
    font-size: 1.0em;
}

.incorrect {
    color: red;
}

.collect {
    font-size: 2.0em;
    color: green;
    padding: 20px;
}

#cheat-sheet {
    font-size: 0.8em;
}